<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamFinder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="contact.css">
</head>
<body>

    <header class="navbar">
            <h2 class="logo">StreamFinder</h2>

            <div class="header-links">
                <a href="/search" class="header-link">Search</a>
                <a href="/about" class="header-link">About</a>
                <a href="/contact" class="header-link">Contact</a>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list menu" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
    </header>

    <div class="toggle-menu">
        <a href="/search" class="toggle-link">Search</a>
        <a href="/about" class="toggle-link">About</a>
        <a href="/contact" class="toggle-link">Contact</a>
    </div>

    <main>
        <h1 class="header">For Contact: <span>akillikulluk@gmail.com</span></h1>
    </main>

    <footer class="footer">
            <div class="space-1">
                <a href="/about" class="footer-link">About</a>
                <a href="/policy" class="footer-link">Privacy Policy</a>
            </div>
            
            <li>Taha Bolat &copy; 2023</li>
            
            <div class="space-2">
                <a href="/search" class="footer-link">Search</a>
                <a href="/contact" class="footer-link">Contact</a>
            </div>
    </footer>

    <script>
        let logo = document.querySelector(".logo");
        let menu = document.querySelector(".menu");
        let toggleMenu = document.querySelector(".toggle-menu"); 

        logo.addEventListener("click", () => {
            location.href = 'https://streamfinder.cyclic.app/';
        })

        menu.addEventListener("click", () => {
            toggleMenu.classList.toggle("active");
        })
    </script>
    
</body>
</html>